.carousel-productos {
	border-bottom: 2px solid $azul;
	overflow: hidden;

	h2 {
		text-transform: uppercase;
		color: $gris;
		font-weight: bold;
		position: relative;
		z-index: 1;
		font-size: 1.5em;

		@media(min-width: 768px) {
			font-size: 2em;
		}

		@media(min-width: 992px) {
			font-size: 2.5em;
		}
	}

	.container {
		z-index: 1;

		.carousel {
			z-index: 1;
			text-align: center;
			margin-bottom: 60px;

			.carousel-inner {
				padding: 0 60px;
			}

			.row {
				text-align: center;
			}

			.producto {
				display: inline-block;

				.nombre-producto {
					color: $azul;
					font-size: 0.9em;
				}
			}
		}
	}

	.carousel-control {
		background-image: none;
		text-shadow:none;

		[class*='icono'] {
			display: block;
			position:absolute;
			color: $azul;
			font-size: 80px;
			top: 50%;
			margin-top: -40px;

			@media(min-width: 768px) {
				font-size: 160px;
				margin-top: -80px;
			}

			&.icono-atras {
				left:0;
			}

			&.icono-adelante {
				right:0;
			}
		}
	}

	

	&:nth-child(odd) {

		[class*='outline'] {
			right: -200px !important;
		}
	}


	&:nth-child(even) {

		[class*='outline'] {
			left: -200px !important;
		}
	}

	.ver-mas {
		position: absolute;
		right: 50%;
		margin-right: -72px;
		bottom: 0;

		@media(min-width: 768px) {
			right: 100px;
			margin-right: 0;
		}

		+ [class*='icono'] {
			position: absolute;
			top:50px;
			margin-top: -200px;
			font-size: 900px;
			color:lighten($gris, 35);
			z-index: 0;
		}
	}

}