html, body {
    //font-family: 'Malaga OT', Georgia, Times, 'Times New Roman', serif; 
}


h1 {
}

h2 {
    font-size: 3em;
    margin-top: 60px;
    padding-bottom: 20px;
}

h3 {
    text-transform: uppercase;
}

h4 {
     //color: $azul-corporativo;
     //font-size: 1.8em;
}

p, ul {
    font-size: 1.6em;
    line-height: 1.6em;
}

ul {
    li {
        margin-bottom: 20px;
    }
}

b, strong {
}

table {
    font-size: 1.2em;
    line-height: 1.5em;

    th {
    }

    td {
    }
}

em {
    font-size: 1.3em;
}

p, ul li, strong, b, address, em, label, table {
}

a {
	@include transicion-rapida();
}


blockquote {
    // position: relative;

    // &:before {
    //     content: '"';
    //     display: block;
    //     position: absolute;
    //     left: 0px;
    // }

    // &:after {
    //     content: '"';
    //     display: block;
    //     position: absolute;
    //     right: 0px;
    // }

    // p {
    // }
}